body {
	display: flex;
	justify-content: center;
	align-items: center;
}

#container {
  width: 527px;
	height: 527px;
	border: 5px solid rgb(182, 182, 22);
	display: flex;
	flex-wrap: wrap;
	gap: 1px;
}

#childDivs {
	width: 32px;
	height: 32px;
	background-color: black;
}

