body {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(15, 144, 144);
}

#container {
  width: 527px;
	height: 527px;
	border: 5px solid rgb(182, 182, 22);
	display: flex;
	flex-wrap: wrap;
	gap: 1px;
}

#childDiv {
	width: 32px;
	height: 32px;
	background-color: rgb(255, 255, 255);
}

#childDiv:hover {
	background-color: black;
}

